.recipe-details {
  width: 100%;
  position: relative;
  top: 20px
}

/* .go-back-button {
  width: 8%;
  height: px;
  position: relative;
  margin-left: 6%;
} */

.go-back{
  font-family: 'Dosis';
  font-style: Bold;
  font-size: 20px;
  line-height: 22px;
  color: #023C40;
  cursor: pointer;
  margin-left: 5%;
  letter-spacing: -2.5%

}

.meal-details {
  width: 100%;
  margin-left: 6%;
  margin-top: 20px
}

.meal {
  font-family: 'Dosis';
  font-weight: bold;
  font-size: 30px;
}

.add-planner{
  width: 20%;
  height: 53px;
  border-radius: 50px;
  font-family: 'Dosis';
  font-weight: bold;
  font-size:12px;
  background-color: #7CC91E;
  color: white
}

.favorites{
  width: 20%;
  height: 53px;
  border-radius: 50px;
  font-family: 'Dosis';
  margin-left: 22px;
  font-weight: bold;
  font-size:12px;
  background-color: #339989;
  color: white
}

.shopping{
  width: 20%;
  height: 53px;
  border-radius: 50px;
  font-family: 'Dosis';
  margin-left: 22px;
  font-weight: bold;
  font-size:12px;
  background-color: #339989;
  color: white
}

.left-image {
  width: 50%;
  height: 480px;
}

.image{
  position: absolute;
  width: 40%;
  height: 486px;
  left: 50%;
  top: 80px;
  margin-right: 165px
}

.meal-information {
  margin-top: 20px;
  line-height: 40px
}

.nutritionButtons{
  height: 82px;
  width: 55px;
  border-radius: 10px;
  margin-right: 16px;
  margin-top: 23px;
  font-size: 14px;
  border-color: #339989;
}

.ingredient-preparation {
  position: relative;
  display: inline-block;
  width: 100%;
}

.ingredient {
  position: relative;
  width: 40%;
  margin-top: 20px
}

.ingredient-list {
  margin-top: 5px;
  margin-bottom: 5px
}

.preparation {
  position: absolute;
  width: 50%;
  margin-top: 20px
}

.preparation-list {
  margin-top: 5px;
  margin-bottom: 5px
}

b {
  font-size: 30px;
  font-family: 'Dosis';
  font-weight: bold;
}

.ingre-prep {
  margin-bottom: 20px
}

.caption{
  color: #023C40
}
