.recipe-details {
  width: 100%;
  position: relative;
  top: 20px
}

.go-back-button {
  width: 8%;
  height: 0px;
  position: relative;
  margin-left: 6%;
}

.meal-details {
  width: 100%;
  margin-left: 6%;
  margin-top: 20px
}

.meal {
  font-family: 'Dosis';
  font-weight: bold;
  font-size: 30px;
}

.add-planner{
  width: 20%;
  height: 53px;
  border-radius: 20px;
  font-size:9px;
}

.favorites{
  width: 20%;
  height: 53px;
  border-radius: 20px;
  font-size:9px;  
  margin-left: 22px;
}

.shopping{
  width: 20%;
  height: 53px;
  border-radius: 20px;
  font-size:9px;
  margin-left: 22px;  
}

.left-image {
  width: 50%;
  height: 480px;
}

.image{
  position: absolute;
  width: 40%;
  height: 486px;
  left: 50%;
  top: 80px;
  margin-right: 165px
}

.meal-information {
  margin-top: 20px;
  line-height: 40px
}

.nutritionButtons{
  height: 82px;
  width: 55px;
  border-radius: 10px;
  margin-right: 16px;
  margin-top: 23px;
  font-size: 14px
}

.ingredient-preparation {
  position: relative;
  display: inline-block;
  width: 100%;
}

.ingredient {
  position: relative;
  width: 40%;
  margin-top: 20px
}

.ingredient-list {
  margin-top: 5px;
  margin-bottom: 5px
}

.preparation {
  position: absolute;
  width: 50%;
  margin-top: 20px
}

.preparation-list {
  margin-top: 5px;
  margin-bottom: 5px
}

b {
  font-size: 30px;
  font-family: 'Dosis';
  font-weight: bold;
}

.ingre-prep {
  margin-bottom: 20px
}
