.shopping-list-container {
  margin-bottom: 40px
}

li.shopping-list-ingredient {
  position: relative;
  display: inline;
  list-style: none;
  text-align: left;
  vertical-align: top;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 25px;
  text-transform: uppercase;  
  color: #023C40;
}

ul.shopping-list {
  position: relative;
  top: 50px
}

div.shopping-list-container {
  width: 50%;
  margin-left: 14%
}

h1.shopping-list-title {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin-top: 6%
}

.print-button{
  width: 120px;
  height: 53px;
  border-radius: 50px;
  font-family: 'Dosis';
  font-weight: bold;
  font-size:13px;
  background-color: #339989;
  color: white;
  cursor: pointer;
  position: absolute;
}

.clear-button{
  width: 120px;
  height: 53px;
  border-radius: 50px;
  font-family: 'Dosis';
  margin-left: 160px;
  font-weight: bold;
  font-size:13px;
  background-color: #339989;
  color: white;
  cursor: pointer;
  position: absolute;
}

.empty-shoppinglist{
  height: 400px
}

.print{
  display: inline;
  top: 8px;
  position: relative
}