li.shopping-list-ingredient {
  position: relative;
  display: inline;
  list-style: none;
  text-align: left;
  vertical-align: top;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 25px;
  text-transform: uppercase;

color: #023C40;
}

div.shopping-list-container {
  width: 50%;
  margin-left: 14% 
}

h1.shopping-list-title {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin-top: 14%
}

.print-button{
  width: 20%;
  height: 53px;
  border-radius: 50px;
  font-family: 'Dosis';
  margin-left: 22px;
  font-weight: bold;
  font-size:12px;
  background-color: #339989;
  color: white;
  cursor: pointer;
}

.clear-button{
  width: 20%;
  height: 53px;
  border-radius: 50px;
  font-family: 'Dosis';
  margin-left: 22px;
  font-weight: bold;
  font-size:12px;
  background-color: #339989;
  color: white;
  cursor: pointer;
}