.nav-wrapper1{
  width: 100%;
  height: 240px;
  top: 0px;
  background: url('https://serving.photos.photobox.com/07187503ef767b522498d5e0a57aa5ca10714645647b6f4430bd20f9a68ed49b8bb547b1.jpg');
  position: relative;
  background-size: 100% 240px;
}

.nav-wrapper1 a{
  color: #023C40;
  font-family: 'Dosis';
  font-weight: bold;
  font-size: 14px
}

.search-box{
  position: absolute;
  left: 18%;
  top: 150px;
  height: 42px;
  width: 45%;
  bottom: 0%;
  background: #E4E4E4;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  padding-left: 15px;

  box-sizing: border-box;
}
.search-button{
  position: absolute;
  left: 64%;
  top: 150px;
  height: 42px;
  width: 12%;
  bottom: 0%;
  background: #E4E4E4;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #7CC91E
}

.right{
  margin-right: 0%;
  width: 100%;
}

.logo-pic {
  position: absolute;
  width: 282px;
  height: 69px;
}

.brand-logo {
  position: absolute;
  left: 8%;
  top: 20px
}