.nav-wrapper2{
  width: 100%;
  height: 100px;
  top: 0px;
  background: white;
  position: relative;
} 

.nav-wrapper2 li{
  font-family: 'Dosis';
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #023C40;
}

ul.bar2{
  position: relative;
  left: 38%;
  top: 20px;
  width: 100%;
  height: 100px
}
  
.signup {
  background-color: #339989;
  border-radius: 48px;
  height: 40px;
  width: 10%;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.signup a{
  color: white

}

.login1 {
  background-color: white;
  border-radius: 48px;
  height: 40px;
  width: 10%;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 9px;
  cursor: pointer;
}

.login1 a {
  color: #339989;
}

.logo-picture {
  position: absolute;
  width: 282px;
  height: 69px;
}

.brand-logo-new {
  position: absolute;
  left: 8%;
  top: 10px
}