/* 

ul {
list-style-type: none;
margin-top: 50px;
padding: 0;
height: 69px;
}

.nav li {
float: right;
padding-left: 20px;
padding-right: 20px;

}

li a {
font-style: normal;
font-weight: bold;
line-height: 27px;
font-size: 14px;
text-align: center;
text-transform: uppercase;

color: #023C40;


} */
