/* .App {
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans");

.container {
  width: 1440px;
  margin-left: 5%;
  margin-right: 0
}

body, input {
  font-family: 'Dosis', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: #FFF;
}

* {
  margin: 0;
  padding: 0;
}
