/* .App {
  text-align: center;
} */

body, input {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.App-footer {
  background: #999999;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 1440px;
  height: 256px;
  left: 0px;
  top: 1366px;

}
