/* .App {
  text-align: center;
} */

.container {
  width: 1440px;
  margin-left: 5%;
  margin-right: 0
}

body, input {
  font-family: 'Dosis', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: #FFF;
}

* {
  margin: 0;
  padding: 0;
}

/* .App-footer {
  background: #999999;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 1440px;
  height: 256px;
  left: 0px;
  top: 1366px;

} */
